rules_version = '2';
service cloud.firestore
{
	match /databases/{database}/documents
	{
		match /employees/{employeeID}
		{
			allow read, write;
		}
        function notUpdating(field)
        {
            return !(field in request.resource.data) || resource.data[field] == request.resource.data[field]
        }

		match /users/{userID}
        {
            allow read;
            allow update: if notUpdating('email')
                        &&   notUpdating('contact_number')
                        &&   notUpdating('country')
                        &&   notUpdating('created_at')
                        &&   notUpdating('currency')
                        &&   notUpdating('email_verified')
                        &&   notUpdating('filters')
                        &&   notUpdating('full_name')
                        &&   notUpdating('id')
                        &&   notUpdating('is_agree')
                        &&   notUpdating('kyc_status')
                        &&   notUpdating('knight_data')
                        &&   notUpdating('nobility_id')
                        &&   notUpdating('nobility_info')
                        &&   notUpdating('photo_url')
                        &&   notUpdating('referral_code')
                        &&   notUpdating('referrred_by')
                        &&   notUpdating('upline_id')
                        &&   notUpdating('upline_info')
                        &&   request.auth.uid == userID;
            
            match /wallets/{walletID}
            {
                allow read;
            }
            match /compute/{computeID}
            {
                allow read;
            }
            match /max/{maxID}
            {
                allow read;
            }
            match /count/{countID}
            {
                allow read;
            }
            match /earnings/{earningID}
            {
                allow read;
            }
            match /notifications/{notificationID}
            {
                allow read, write;
            }
            match /wallets/{walletID}/logs/{logID}
            {
                allow read;
            }
        }
        match /kycVerifications/{userID}
        {
            allow read, write;
        }
        match /currency/{currencyID}
        {
            allow read;
        }
        match /nobilities/{nobilityID}
        {
            allow read, write;
        }
        match /promotions/{promotionID}
        {
            allow read, write;
        }
        match /enlistKnights/{enlistKnightID}
        {
            allow read, write;
        }
        match /transferCrypto/{transferCryptoId}
        {
            allow read;
        }
        match /cryptoReport/{cryptoReportId}
        {
            allow read;
        }
        match /roles/{cryptoReportId}
        {
            allow read, write;
        }
	}
}
