rules_version = '2';
service cloud.firestore
{
	match /databases/{database}/documents
	{
		match /employees/{employeeID}
		{
			allow read, write;
		}
		match /users/{userID}
        {
            allow read, write;

            match /wallets/{walletID}
            {
                allow read;
            }
        }
        match /kycVerifications/{userID}
        {
            allow read, write;
        }
        match /currency/{currencyID}
        {
            allow read;
        }
        match /nobilities/{nobilityID}
        {
            allow read, write;
        }
        match /promotions/{promotionID}
        {
            allow read, write;
        }
	}
}
