.dashboard {
    &__header {
        background-color: $primary;
        height: 100px;
    }

    &__nobility {
        margin-top: -80px;
        padding-top: 30px;

        .group {
            text-align: center;
            font-size: 14px;

            &-label {
                color: $text-one;
            }
            &-value {
                font-size: 20px;

                &.current {
                    color: $primary;
                    font-weight: bold;
                }
                &.next {
                    color: $text-one;   
                    font-weight: bold;
                }
            }
        }

        .action {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1px;
            background-color: #eee;

            border-top: 1px solid #eee;
            margin-top: 20px;

            &-button {
                padding: 10px;
                text-align: center;
                background-color: #fefefe;
                font-weight: bold;
                color: $text-one;
                border: 0 solid #333 !important;
                border-radius: 0;
            }
        }
    }
}