$icon-size: 30px;
$icon-padding: 20px;

.wallet {
    &__tabs {
        .tab {

        }
    }

    &__panel {
        .panel {
            &-container {
                display: grid;
                grid-template-columns: auto 1fr;
                padding-top: 10px;

                .label {
                    font-weight: bold;
                    font-size: 16px;
                    color: $text-two;
                }
                .amount {
                    text-align: right;
                    
                    &-value {
                        .actual {
                            vertical-align: top;
                            display: inline-block;
                            font-size: 25px;
                            line-height: 25px;
                        }
                        .currency {
                            vertical-align: top;
                            display: inline-block;
                            color: $text-light;
                            margin-left: 5px;
                            
                        }
                    }
                    &-conversion {
                        color: $text-three;
                        font-size: 12px;
                    }
                }
            }
            &-actions {
                border-top: 1px solid #eee;
                padding-top: 20px;  
                margin-top: 20px;

                .action {
                    display: inline-block;
                    vertical-align: top;
                    
                    &-icon {
                        width: $icon-size;
                        height: $icon-size;
                        color: #fff;
                        text-align: center;
                        border-radius: 100%;
                        margin: 0 5px;
                        font-size: $icon-size;
                        line-height: $icon-size;
                        padding: $icon-padding;
                        box-sizing: content-box;
                        letter-spacing: 0;
                        word-spacing: 0;

                    }
                    &-label {
                        text-align: center;
                        color: $text-three;
                        margin-top: 3px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
}