.royalties {
    &__list {
        .list {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 20px;
            border-bottom: 1px dashed #ccc;
            margin-bottom: 10px;
            padding-bottom: 10px;

            &-badge {
                .circle {
                    background-color: #aaa;
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                }
            }
            &-info {
                .name {
                    font-size: 20px;
                }
                .detail {
                    .label {
                        color: #aaa;
                    }
                    .value {
                        color: $text-one;
                    }
                    .conversion {
                        color: rgb(14, 99, 14);
                    }
                }
                .description {
                    white-space: pre-wrap;
                }
            }
        }
    }
}
