.kfield {
    margin-bottom: 15px;
    &__label {
        color: $text-two;
        margin-bottom: 5px;
    }

    .input {
        input {
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $text-light;
                opacity: 1; /* Firefox */
                }
                
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $text-light;
                }
                
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $text-light;
                }
        }
    }
}