.kuploader {
    &__container {
        height: 20px;
        width: 100%;
        border: 1px dashed #aaa;
        border-radius: 5px;
        height: 40px;
        color: #ccc;
        padding-top: 20px;
        text-align: center;
        box-sizing: content-box;
    }
    .hidden-uploader {
        display: none;
    }
}