.kuploader {
    &__container {
        height: 20px;
        width: 100%;
        border: 1px dashed #aaa;
        border-radius: 5px;
        height: 40px;
        color: #ccc;
        padding-top: 20px;
        text-align: center;
        box-sizing: content-box;
    }
    &__output {
        position: relative;
        .image {
            line-height: 0;
            img {
                max-width: 100%;
            }
        }
        .loading {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.7);
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;

            .loader {
                color: #fff;
            }
            
        }
    }
    .hidden-uploader {
        display: none;
    }
}